# # Projeto 5: Relatório Gerencial de Vendas por Categoria
# 
# ## Objetivo
# Analisar um dataset de vendas para criar um relatório sumarizado que demonstre a performance de cada categoria de produto, calculando KPIs essenciais para a tomada de decisão gerencial.

In [25]:
# Código (Importação e Carregamento)

import pandas as pd

df_vendas = pd.read_csv('vendas.csv')

# ## Análise de Performance por Categoria
# Para gerar o relatório, vamos agrupar os dados pela coluna 'Categoria'. Em seguida, usaremos o método `.agg()` para aplicar múltiplas funções de agregação de uma só vez na coluna 'Valor'.

In [27]:
# Código (Análise com groupby e agg)
# 1. df_vendas.groupby('Categoria'): Agrupa o DataFrame em 'Eletronicos', 'Livros' e 'Vestuario'.
# 2. ['Valor']: Especifica que os cálculos serão feitos na coluna 'Valor' de cada grupo.
# 3. .agg([...]): Aplica uma lista de funções de agregação a cada grupo:
#    - 'sum': Calcula a receita total.
#    - 'count': Conta o número de vendas (itens vendidos).
#    - 'mean': Calcula a venda média por item.

relatorio_gerencial = df_vendas.groupby('Categoria')['Valor'].agg(['sum', 'count', 'mean'])

# --- Refinando o Nome das Colunas para Clareza ---
# O resultado do .agg() é ótimo, mas os nomes das colunas ('sum', 'count', 'mean') podem ser melhorados.
# Vamos renomeá-las para que o relatório fique mais claro para um gerente.

relatorio_gerencial.rename(columns={
    'sum': 'Receita Total (R$)',
    'count': 'Nº de Vendas',
    'mean': 'Ticket Médio (R$)'
}, inplace=True)

# ## Relatório Final

In [28]:
# Código (Apresentação do Resultado)

print("--- Relatório Gerencial de Vendas por Categoria ---")
display(relatorio_gerencial)

--- Relatório Gerencial de Vendas por Categoria ---

             Receita Total (R$)  Nº de Vendas  Ticket Médio (R$)
Categoria
Eletronicos              3549.9             3            1183.30
Livros                     95.5             2              47.75
Vestuario                 325.0             2             162.50