# Custo Médio por Categoria.
 Usando um dataset de produtos com 'categoria' e 'preco', calcule o preço médio dos produtos em cada categoria.
  Foco: Prática direcionada de .groupby().mean().

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../vendas.csv')

In [4]:
df.head()

   ID_Venda  ID_Produto    Categoria   Valor        Data
0       101           1  Eletronicos  1200.0  2024-01-02
1       102           3       Livros    45.5  2024-01-03
2       103           2    Vestuario   150.0  2024-01-04
3       104           1  Eletronicos  1350.0  2024-01-05
4       105           4  Eletronicos   999.9  2024-01-06

In [5]:
df.groupby('Categoria')['Valor'].mean()

Categoria
Eletronicos    1183.30
Livros           47.75
Vestuario       162.50
Name: Valor, dtype: float64