# Filtro de Clientes de Alto Valor.
 Carregue um CSV de clientes com uma coluna 'gasto_total' e selecione e exiba apenas os clientes que gastaram mais de R$1.000. Foco: Leitura de CSV e filtragem booleana.

In [2]:
import pandas as pd

In [5]:
df = pd.read_csv('clientes.csv')

In [8]:
df.head()

,ID_Cliente,Nome,Email,Pais,Data_Cadastro,Gasto_Total
0,1,Ana Silva,ana.silva@email.com,Brasil,2024-01-15,1500.50
1,2,John Smith,john.smith@email.com,EUA,2024-02-20,800.00
2,3,Maria Garcia,maria.garcia@email.com,Espanha,2024-03-10,2200.75
3,4,Ken Adams,ken.adams@email.com,EUA,2024-04-05,500.25
4,5,Lara Croft,lara.croft@email.com,Reino Unido,2024-05-22,950.00

In [15]:
gasto_mil = df.loc[df['Gasto_Total'] > 1000]
print(gasto_mil)

   ID_Cliente           Nome                   Email     Pais Data_Cadastro  \
0           1      Ana Silva     ana.silva@email.com   Brasil    2024-01-15
2           3   Maria Garcia  maria.garcia@email.com  Espanha    2024-03-10
5           6    Bruce Wayne   bruce.wayne@email.com      NaN    2024-06-01
7           8  Sakura Tanaka      sakura.t@email.com    Japao    2024-08-19

   Gasto_Total
0      1500.50
2      2200.75
5      5000.00
7      3250.00