# Filtro de Clientes de Alto Valor.
 Carregue um CSV de clientes com uma coluna 'gasto_total' e selecione e exiba apenas os clientes que gastaram mais de R$1.000. Foco: Leitura de CSV e filtragem booleana.

In [18]:
# --- 1. Importação da Biblioteca ---
# Importa a biblioteca pandas, essencial para manipulação de dados tabulares em Python.
import pandas as pd

In [19]:
# --- 2. Carregamento dos Dados ---
# Carrega o dataset a partir do arquivo 'clientes.csv' para um DataFrame do Pandas.
# Um DataFrame é uma estrutura de dados bidimensional, similar a uma planilha.
df_clientes = pd.read_csv('../clientes.csv')

In [20]:
# --- 3. Filtragem Lógica (Boolean Filtering) ---
# Esta é a linha principal da análise, onde a "mágica" acontece.
#
# a) df_clientes['Gasto_Total'] > 1000:
#    Isso cria uma "máscara" booleana (uma Series de True/False). Para cada linha
#    do DataFrame, ele verifica se o valor na coluna 'Gasto_Total' é maior que 1000.
#
# b) df_clientes.loc[...]:
#    O método .loc é usado para selecionar linhas. Ao passar a máscara booleana para ele,
#    ele retorna um novo DataFrame contendo apenas as linhas onde a máscara era True.
#
# O resultado é armazenado em uma nova variável com nome claro.
clientes_alto_valor = df_clientes.loc[df_clientes['Gasto_Total'] > 1000]

In [21]:
# --- 4. Apresentação do Resultado ---
# Imprime um título claro para o nosso relatório.
print("--- Relatório: Clientes com Gasto Total superior a R$ 1.000 ---")

# A função display() é usada em ambientes como o Jupyter Notebook
# para renderizar o DataFrame de uma forma mais elegante e legível.
display(clientes_alto_valor)

--- Relatório: Clientes com Gasto Total superior a R$ 1.000 ---

,ID_Cliente,Nome,Email,Pais,Data_Cadastro,Gasto_Total
0,1,Ana Silva,ana.silva@email.com,Brasil,2024-01-15,1500.50
2,3,Maria Garcia,maria.garcia@email.com,Espanha,2024-03-10,2200.75
5,6,Bruce Wayne,bruce.wayne@email.com,NaN,2024-06-01,5000.00
7,8,Sakura Tanaka,sakura.t@email.com,Japao,2024-08-19,3250.00